body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center-text {
  text-align: center;
}

.filter-left {
  width: 75px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.genres-thumb {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.nav-bar {
  margin-right: 7px;
  margin-left: 7px;
}

.search-type-selected {
  background-color: aqua;
}

.small-margins {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 10px;
}

.small-text {
  font-size: 10px
}

.tags-thumb {
  background-color:aqua;
  color: black;
  border-radius: 5px;
}

.wrap {
  flex-wrap: wrap;
}

.highlight {
  background-color: lightcoral;
}
